<div class="wrapper light-wrapper" id="about">
    <div class="container inner">
      {% if site.data.about_index.about_area.enable %}
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2 text-center">
            <div class="position-relative">
              {% if site.data.about_index.about_area.image %}
              <figure>
                <div class="img-blob blob12"><img src="{{relative_url}}/assets/images/display/image-3.JPG" style="width: 30rem" alt="" /></div>
              </figure>
              {% endif %}
              
            </div>
          </div>
          <!--/column -->
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            
            <h2 class="display-1 text-[2rem] md:text-[2.5rem]">CENTRE FOR TEENS <br><span class="typer color-default" data-bs-delay="100" data-delim=":" data-words="Educate.:Empower.: and Transform."></span><span class="cursor color-default" data-owner="typer"></span></h2>
              <p class="fs-21 text-black"><span class="dropcap color-default">W</span class="fw-bold">elcome to Centre For Teens</span>, a safe, supportive space where Nigerian teenagers are empowered with knowledge, life skills, and opportunities to thrive.</p>
             
            <div class="space20"></div>
            <a href="/about" class="btn btn-dark btn-l">About Us</a>
            
          </div>
          <!--/column -->
        </div>
        <!--/.row --> 
        {% endif %}
    </div>
  </div>
  <!--wrapper About Us-->