<div class="dark-wrapper bg-opacity-default" id="about">
  <div class="container inner">
    {% if site.data.about_index.about_area.enable %}
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-6 order-lg-2 text-center">
        <div class="position-relative">
          {% if site.data.about_index.about_area.image %}
          <figure>
            <div class="img-blob blob4">
              <img
                src="{{relative_url}}/assets/images/display/header_about.jpeg"
                style="width: 30rem"
                alt=""
              />
            </div>
          </figure>
          {% endif %}
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h2 class="" style="font-size: 1.5rem; color: red">Our Objectives</h2>
        <p class="text-white">
          Centre for Teens Health and Development is a youth-focused non-profit
          organization dedicated to supporting the holistic growth of teenagers
          across Nigeria.
        </p>
        <h2 style="font-size: 1.5rem; color: red">Our Mission</h2>
        <p class="text-white">
          To empower teens with the knowledge, skills, and mindset they need to
          make informed decisions, adopt healthy habits, and grow into
          self-reliant, thriving adults.
        </p>
        <h2 style="font-size: 1.5rem; color: red">Our Vision</h2>
        <p class="text-white">
          A world where every teenager is healthy, confident, and empowered to
          reach their full potential and contribute meaningfully to society.
        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
  </div>
</div>
<!--wrapper About Us-->
